{% extends 'manager/base.html' %}

    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}


    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

{% block content %}
    <br/>
    <div class="container">
    <form method="post" class="show-loader" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                <label for="question">Link to linkedin profile</label>
                <input type="text" name="linkedin_url" id="linkedin_url" class="form-control" placeholder="Place here linkedin profile">
                </div>
            </div>
                    <div class="row">
                <div class="col-md-12">
                    <br/>
        <button class="btn btn-primary" onsubmit="move()" type="submit">Generate review</button>
                </div>
                    </div>
        {{ review|linebreaks }}
    </form>
    {% include 'partials/loader.html' %}
    </div>
{% endblock %}